<!DOCTYPE html>
<html lang="en">
  <%- include('../includes/head') %>

  <body>
    <%- include('../includes/navigator')%>

    <main>
      <div class="container">
        <h1>Danh sách sản phẩm</h1>
        <p>Danh sách tất cả sản phẩm</p>

        <div class="row">
          <% if (prods.length > 0) { %> <% for (let product of prods ) { %>

          <div class="card col-4 m-3" style="width: 18rem">
            <img
              src="<%= product.imageUrl %>"
              class="card-img-top"
              alt="<%= product.title %>"
            />
            <div class="card-body">
              <h5 class="card-title"><%= product.title %></h5>

              <p class="card-text">$<%= product.price %></p>

              <p class="card-text"><%= product.description %></p>

              <a href="/edit-product/<%= product.id %>" class="btn btn-warning"
                >Sửa</a
              >

              <a href="/delete-product/<%= product.id %>" class="btn btn-danger"
                >Xóa</a
              >
            </div>
          </div>

          <% } %> <% } else { %>

          <h1>Không có sản phẩm nào</h1>

          <% } %>
        </div>
      </div>
    </main>
  </body>
</html>
